.card-left .facilities {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.icons {
    display: flex;
    flex-direction: column;
    max-width: 50px;
    font-size: 10px;
    font-weight: 600;
    padding-right: 10px;

}


.icons svg {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.facilities-heading {
    display: flex;

}

.facilities-heading h6 {
    margin-right: auto;
}

.facilities-heading p {
    margin-left: auto;
    font-size: 8px;
    font-weight: 500;
    color: orange;
    cursor: pointer;
    margin-right: 90px;
}