.card {
    padding: 24px 9px 24px 9px;
}

.card-left .facilities {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;

}

.card-right2 .facilities {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 4px 0px 0px 0px;
    /* justify-items: end; */
    justify-content: center;
}

.icons {
    display: flex;
    flex-direction: column;
    max-width: 50px;
    font-size: 10px;
    font-weight: 600;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}


.icons svg {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.facilities-heading {
    display: flex;

}

.facilities-heading h6 {
    margin-right: auto;
}

.facilities-heading p {
    font-size: 11px;
    font-weight: 500;
    color: orange;
    cursor: pointer;
    margin-top: 6px;
    margin-right: 87px;
}

.card-right {
    display: flex;
    /* direction: unset; */
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.card-left {
    margin-left: 26px;
    margin-top: 10px;
    /* margin-bottom: -14px; */
    /* border: 1px solid lightcyan; */
}

.autoSearchWrapper {
    width: 200px;
    margin: -13px 0px 0px 11rem;
    position: relative;
}

.icons .img {
    margin-bottom: 2px !important;
}